<b>
  <h1 class="heading">RT-PCR TESTING FORM</h1>
</b>
<div action="#" id="form" method="post">
  <div class="container">
    <div class="tab tab-2">
      <div class="field">
        <label for="fname">Person first Name :</label>
        <input
          type="text"
          name="fname"
          placeholder="Enter your first Name"
          id="fname"
        />
      </div>
      <div class="field">
        <label for="lname"> person Last Name :</label>
        <input
          type="text"
          name="lname"
          placeholder="Enter your last Name"
          id="lname"
        />
      </div>
      <div class="field">
        <label for="aadhar">Aadhar Number :</label>
        <input
          type="number"
          name="aadhar"
          placeholder="XXXX XXXX XXXX"
          required
          pattern="[0-9]{4} [0-9]{4} [0-9]{4}"
          maxlength="14"
          id="aadhar"
        />
      </div>
      <div class="field">
        <label for="date-of-birth">Date Of Birth :</label>
        <input type="date" name="dob" id="dob" />
      </div>
      <div class="field">
        <label for="city">City :</label>
        <input
          type="text"
          name="city"
          placeholder="Enter your city"
          id="city"
        />
      </div>
      <div class="field">
        <label for="date-of-test">Date Of Test :</label>
        <input type="date" name="date" id="date" />
      </div>
      <div class="field">
        <label for="time-of-test">Time Of Test :</label>
        <input type="time" name="time" id="time" />
      </div>
      <div class="field">
        <label for="result">Result :</label>
        <input
          type="text"
          name="result"
          placeholder="Enter your result"
          id="result"
        />
      </div>

      <div class="field">
        <label for="lab">Lab Name :</label>
        <input
          type="text"
          name="lab"
          placeholder="Enter the Lab Name"
          id="lab"
        />
      </div>
      <div class="field">
        <label for="report">Report Number :</label>
        <input
          type="number"
          name="report"
          pattern="[A-Za-z]*[0-9]*[A-Za-z]*"
          placeholder="Enter your Report Number"
          id="report"
        />
      </div>
      <div class="field" id="check-gen">
        <label for="gender">Gender :</label>
        <input
          type="text"
          name="gender"
          placeholder="Enter your gender"
          id="gender"
        />
      </div>
      <div class="buttons">
        <button id="btn">Add</button>
      </div>
    </div>
    <div class="search">
      <input type="text" id="find" placeholder="Enter name to search" />
      <input type="submit" id="submit" />
      <div id="msg"></div>
    </div>
    <div class="tab tab-1">
      <table id="table" style="border: 1">
        <tr>
          <th>first Name</th>
          <th>Last Name</th>
          <th>Date Of Birth</th>
          <th>Gender</th>
          <th>City</th>
          <th>Date Of Test</th>
          <th>time of test</th>
          <th>Lab Name</th>
          <th>Report Number</th>
          <th>Result</th>
          <th>Aadhar Number</th>
        </tr>
      </table>
    </div>
    <div class="tab tab-1">
      <table id="table1" style="border: 1">
        <tr>
          <th>first Name</th>
          <th>Last Name</th>
          <th>Date Of Birth</th>
          <th>Gender</th>
          <th>City</th>
          <th>Date Of Test</th>
          <th>time of test</th>
          <th>Lab Name</th>
          <th>Report Number</th>
          <th>Result</th>
          <th>Aadhar Number</th>
        </tr>
      </table>
    </div>
  </div>
</div>
