:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    color: var(--dark-grayish-blue);
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-image: url("/images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 16px;
  }
  
  img {
    max-width: 100%;
  }
  
  p {
    color: var(--grayish-blue);
    line-height: 1.5;
    font-size: 16px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
  
  .container-1 {
    width: 700px;
  }
  
  section {
    padding: 32px 16px;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  .flex > * {
    flex: 1;
    padding: 10px;
  }
  
  .split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px;

  }
  
  .split p {
    max-width: 400px;
    text-align: start;
  }
  
  .btn {
    border-radius: 64px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 8px;
    padding: 12px 32px;
  }
  
  .btn-ios {
    background-color: var(--strong-cyan);
    box-shadow: 0px 4px 0 hsl(171, 53%, 41%);
  }
  
  .btn-mac {
    background-color: var(--light-blue);
    box-shadow: 0px 4px 0 hsl(233, 59%, 55%);
  }
  
  .btn-ios:active,
  .btn-ios:hover,
  .btn-mac:active,
  .btn-mac:hover {
    opacity: 0.8;
  }
  
  .inner-flex img {
    transform: translateX(-9%);
    margin-left: 60px;
  }
  
  footer {
    background-color: hsl(0, 0%, 93%);
  }
  
  footer .container {
    margin-bottom: 0;
  }
  
  footer img {
    width: 60px;
  }
  
  footer ul a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
  }
  
  footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  
  footer .links {
    flex: 3;
  }
  
  footer .links li {
    padding: 10px;
    margin-right: 40px;
  }
  
  footer .links li a:active,
  footer .links li a:hover {
    color: var(--strong-cyan);
  }
  
  footer .social li {
    margin-right: 10px;
  }
  
  footer .social img {
    width: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  
    .inner-flex img {
      transform: none;
    }
  
    .split {
      align-items: center;
    }
  
    .split p {
      text-align: center;
    }
    
    footer .links {
      flex-direction: column;
    }
  
    footer .links li {
      padding: 10px;
      margin-right: 0;
    }
  }
  /* 
  h1 {
       font-size: 32px;
       margin-bottom: 16px;
       text-align: center;
  }
  p {
     font-size: 16px;
     color:  hsl(201, 11%, 66%);
     line-height: 1.4;
     margin-bottom: 24px;
     text-align: center;
  }
  .btn {
      border-radius: 24px;
      border: none;
      color: #fff;
      font-weight: 400;
      letter-spacing: 0.25px;
      padding: 12px 24px;
      width: 100%;
  }
  .btn-ios {
      background-color: hsl(171, 66%, 44%);
      box-shadow: 0px 3px 0 hsl(171, 53%, 41%);
      margin-bottom: 16px;
  }
  .btn-mac {
      background-color: hsl(233, 100%, 69%);
      box-shadow: 0px 3px 0 hsl(233, 59%, 55%);
      margin-bottom: 12px;
  } */
  