:root{
    --bg-color: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --text-color: hsl(215, 51%, 70%);
    --balance-color: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    font-family: 'Outfit', sans-serif;
}

.component{
    background-color: var(--card-bg);
    width: 80%;
    border-radius: 20px;
    padding: 20px;
}

.component__header{
    position: relative;
}

.header__image{
    max-width: 100%;
    border-radius: 20px;
    z-index: 0;
    display: block;
    margin: 0 auto;
}

.header__square{
    opacity: 0;
    background-color: var(--balance-color);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 20px;
    filter: opacity(0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__square:hover{
    opacity: 1;
    transition: opacity .3s;
}

.header__view-icon{
    max-width: 30%;
}


.header__image:hover{
    cursor: pointer;
}

.component__title{
    color: var(--white)
}

.component__title:hover, .owner:hover{
    color: var(--balance-color);
    transition: color .3s;
    cursor: pointer;
}

.component__text, .date{
    color: var(--text-color);
}

.balance{
    color: var(--balance-color);
}

.component__info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.component__footer{
    display: flex;
    border-top: .1px solid var(--text-color);
    padding-top: 15px;
}

.avatar{
    max-width: 15%;
    background-color: var(--white);
    border-radius: 50%;
    margin-right: 10px;
}

.footer__text{
    color: var(--text-color)
}

.owner{
    color: var(--white);
    margin-left: 5px;
}

.balance, .date{
    display: inline-block;
    position: relative;
    bottom: 2px;
}

@media screen and (max-width: 1000px){
    .component{
        max-width: 20%;
    }
}
