/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
/* body {
    background-attachment: fixed;
    background-color: rgb(204, 229, 233);
    background-image: url("../src/app/rt-pcr/images/21image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */
  
