<!-- <h1>Welcome to Angular {{ title }} from {{ location }}</h1>
<hr />
<div>
  <app-boxa
    labelValue="Location"
    [data]="location"
    (onBoxDataChange)="onBoxValueChange($event)"
  ></app-boxa>
</div>
<div>
  <app-boxa
    [data]="location"
    (onBoxDataChange)="onBoxValueChange($event)"
  ></app-boxa>
</div>
<div>
  <app-customer-form></app-customer-form>
</div>
<hr /> -->
<!-- <app-count-display-component [count]="total"></app-count-display-component>
<app-hit-button [label]="hits"></app-hit-button>
<app-counter-app></app-counter-app> -->
<!-- <app-rt-pcr></app-rt-pcr> -->
<!-- <app-employee-form></app-employee-form> -->
<app-book-list></app-book-list>
