h1::first-letter
{
      color: brown;
      font-size: 70px;
      font-style: bold;
  }
h1::before
{
      color: blue;
      content: "This is";
  }
h1::after
{
      color:gold;
      content: "My page";
      font-size: 50px;
  }
