body{
    background-image: url('https://wallpaperaccess.com/full/1347419.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}
a:hover{
    color: black;
    background-color: rgb(207, 40, 40);
}
nav {
 float: right;
 margin-top: 10px;
}