@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
  }
body {
    align-items: center;
    background: hsl(0, 0%, 98%);
    display: flex;
    font-family: poppins, sans-serif;
    font-size: 15px;
    justify-content: center;
    margin: auto;
    width: 80%;
  }
p {
    color: hsl(229, 6%, 66%);
  }
header{
    white-space: nowrap;
  }
.top-container {
    text-align: center;
  }
.top-container h1 {
    color: hsl(229, 6%, 66%);
    font-size: 2rem;
    font-weight: 200;
  }
.top-container h2 {
    color: hsl(234, 12%, 34%);
    font-size: 2rem;
    margin-top: -20px;
  }
.top-container p {
    font-size: 1.2rem;
    text-align: center;
    white-space: pre-wrap;
  }
.col {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    height: 200px;
    margin: 18px auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 350px;
  }
.col img {
    bottom: 0;
    padding: 15px;
    position: absolute;
    right: 0;
  }
.col h3 {
    color: hsl(234, 12%, 34%);
    font-size: 1.3rem;
  }
.col::after {
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
.col-red::after {
    background-color: hsl(0, 100%, 50%);
  }
.col-cyan::after {
    background-color: hsl(180, 100%, 50%);
  }
.col-orange::after {
    background-color: hsl(39, 100%, 50%);
  }
.col-blue::after {
    background-color: hsl(240, 100%, 50%);
  }
@media (min-width: 768px) {
  .box-section {
      align-items: center;
      display: flex;
    }
  .col {
      margin: 18px;
    }
  }