:root{
      --balance-color: hsl(178, 100%, 50%);
      --bg-color: hsl(217, 54%, 11%);
      --card-bg: hsl(216, 50%, 16%);
      --text-color: hsl(215, 51%, 70%);
      --white: hsl(0, 0%, 100%);
  }
body{
      align-items: center;
      background-color: var(--bg-color);
      display: flex;
      flex-direction: column;
      font-family: 'Outfit', sans-serif;
      height: 100vh;
      justify-content: center;
      margin: 0;
      padding: 0;
  }
.component{
      background-color: var(--card-bg);
      border-radius: 20px;
      padding: 20px;
      width: 80%;
  }
.component__header{
      position: relative;
  }
.header__image{
      border-radius: 20px;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      z-index: 0;
  }
.header__square{
      align-items: center;
      background-color: var(--balance-color);
      border-radius: 20px;
      display: flex;
      filter: opacity(0.5);
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
  }
.header__square:hover{
      opacity: 1;
      transition: opacity .3s;
  }
.header__view-icon{
      max-width: 30%;
  }
.header__image:hover{
      cursor: pointer;
  }
.component__title{
      color: var(--white)
  }
.component__title:hover, .owner:hover{
      color: var(--balance-color);
      cursor: pointer;
      transition: color .3s;
  }
.component__text, .date{
      color: var(--text-color);
  }
.balance{
      color: var(--balance-color);
  }
.component__info{
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
  }
.component__footer{
      border-top: .1px solid var(--text-color);
      display: flex;
      padding-top: 15px;
  }
.avatar{
      background-color: var(--white);
      border-radius: 50%;
      margin-right: 10px;
      max-width: 15%;
  }
.footer__text{
      color: var(--text-color)
  }
.owner{
      color: var(--white);
      margin-left: 5px;
  }
.balance, .date{
      bottom: 2px;
      display: inline-block;
      position: relative;
  }
@media screen and (max-width: 1000px){
    .component{
          max-width: 20%;
      }
  }
