.centered{
             text-align: center;
  }            
        .medium{
              text-align: medium;
   }
        .large{
              text-align: large;
   }
        .small{
              text-align: small;
   }    
  