@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: url(../images/bg-pattern-top.svg);
    background-position:right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat;
    display: flex;
    font-family: "Kumbh Sans";
    font-size: 18px;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw, url(../images/bg-pattern-bottom.svg);
  }
.container {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
  }
.image img {
    border-radius: 15px 15px 0 0;
    display: block;
    width: 100%;
  }
.avatar img {
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -57px;
  }
.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
  }
.info h1 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
  }
.info span {
    color: hsl(227, 10%, 46%);
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
  }
.info p {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
  }
.box {
    border-top: 1px solid hsl(0, 0%, 59%, 0.3);
    display: flex;
    font-family: "Kumbh Sans";
    justify-content: space-evenly;
    line-height: 1.5;
    margin: 20px;
    text-align: center;
    width: 100%;
  }
.box h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
  }
.box p {
    color: hsl(227, 10%, 46%);
    font-size: 10px;
  }